body {
  background-color: black;
  color: #ccccff;
  padding: 25px;
  font: 18px;
  font-family: Tahoma;
  margin: 0px;
  background-image: linear-gradient(to right, black, #0B1063, #5B2C6F );
}
#authdiv {
  margin-left: 392px;
}


#userpara {
  margin-left: 385px;
}

.headlines, {
  margin-left: 335px;
}

.user-name-list {
  margin-left: 385px;
}

.tasklistalign {
  text-align: center;
}

a {
  color: #ccffcc;
  text-decoration: none;
  cursor: crosshair;
}

p {
  font-weight: bold;
}

h1 {
  color: #00ffcc;
  font-size: 60px;
  text-align: center;
  font-family: Tahoma;
  letter-spacing: 8px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 0px;
  background: -webkit-linear-gradient(left, #F40E42, #f4d27a, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
  color: #00ffcc;
  font-size: 30px;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 0px;
  background: -webkit-linear-gradient(left, #cc00ff, #f4d27a, #19f3f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: #00ffcc;
  font-size: 30px;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 315px;
  background: -webkit-linear-gradient(left, #f4d27a, #19f3f3, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  color: #00ffcc;
  font-size: 30px;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 0px;
  background: -webkit-linear-gradient(left, #f4d27a, #19f3f3, #00ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #00ffcc;
  font-size: 30px;
  font-family: Tahoma;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 385px;
  background: -webkit-linear-gradient(left, #B80EF4, #f4d27a, #19f3f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delete_button {
  background-color: pink;
  color: white;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
}

.login_button, .signup_button, .submit_button, .addtask_button {
  background-color: #830993;
  color: white;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
}

.todo_button {
  background-color: #B924A3  ;
  color: white;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
  margin-left: 335px;
}

.logout_button {
  background-color: #B924A3  ;
  color: white;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
  margin-left: 20px;
}

.home_button {
  background-color: #7DF5A6;
  color: purple;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
  margin-left: 335px;
}

.completed_button {
  background-color: #7DF5A6;
  color: purple;
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
  margin-left: 10px;
}

.button {
  font-family: Tahoma;
  display: inline-block;
  padding: 5px 15px;
  font-size: 15px;
  cursor: crosshair;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #19f3f3;
  background-color: #34373a;
  border:  2px solid #19f3f3;
  border-radius: 3px;
  box-shadow: 0 1px black;
}

a:visited {
  color: #f006d4;
  text-decoration: none;
  border: 0 none;
}
.button:hover, .submit_button:hover, .delete_button:hover, .logout_button:hover, .home_button:hover, .login_button:hover,
.signup_button:hover, .todo_button:hover, .completed_button:hover, .addtask_button:hover{
  background-color: #19f3f3;
  color: white;
  -webkit-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
  animation-iteration-count:2;
}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

.button:active, .submit_button:active, .delete_button:active, .logout_button:active, .home_button:active, .login_button:active,
.signup_button:active, .todo_button:active, .completed_button:active, .addtask_button:active{
  background-color: #19f3f3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-left: 1px solid black;

}
::-webkit-scrollbar-thumb {
  background-color: #f006d4;
  background-image: -webkit-gradient(linear,
  40% 0%,
  75% 84%,
  from(#B80EF4),
  to(#f4d27a),
  color-stop(.6,#19f3f3))
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f4d27a;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: crosshair;
}




